@font-face {
    font-family: 'FreeSansBold';
    src: url('src/assets/fonts/Free Sans Bold/FreeSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.hero-title {
    font-family: 'FreeSansBold', sans-serif;
    font-weight: bold;
    font-size: 8rem;
}

.hero-conective {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

.hero-image {
    background: url("../../assets/images/hero-image.jpeg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

@media (max-width: 767px) {
  .hero-title {
    font-size: 4rem;
  }
  
  .hero-conective {
    transform: translateX(80%);
  }
}