@font-face {
    font-family: 'FreeSansBold';
    src: url('src/assets/fonts/Free Sans Bold/FreeSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.gallery-title {
  font-family: 'FreeSansBold', sans-serif;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 8px;
}

.gallery-text {
  margin-left: 10px;
  line-height: 120%;
  margin-bottom: 34px;
}

.gallery {
  columns: 4;
  column-gap: 8px;
}

.gallery-item {
  position: relative;
  break-inside: avoid;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 8px
}

.gallery-item p {
  background-color: white; 
  max-width: 85%;
  padding: 8px 13px;
  position: absolute;
  overflow-wrap: break-word;
  line-height: 120%;
  transition: transform 0.3s ease;
}

.gallery-item-text {
  border-radius: 0 0 8px 0;
  transform: translateY(-100%);
}

.gallery-doc-link {
  display: none;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.gallery-doc-link span {
  font-size: 1.2rem;
  margin-right: 8px;
  transform: translateY(20%);
}

.gallery-item:hover .gallery-doc-link {
  display: block;
}

.gallery-item:hover .gallery-item-text {
  transform: translateY(0%);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .gallery-section {
    padding: auto 8px;  
  }
  
  .gallery {
    columns: 2;
  }
}