:root, 
[data-bs-theme="light"], 
[data-bs-theme="dark"] {
  --bs-primary: black !important;
  --bs-primary-rgb: 0, 0, 0 !important;
  --bs-secondary: #d6d6d6 !important;
  --bs-secondary-rgb: 214, 214, 214 !important;
}


