@font-face {
    font-family: 'FreeSansBold';
    src: url('src/assets/fonts/Free Sans Bold/FreeSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#footer-section {
  margin: 0 16px;
}

.footer-title {
  font-family: 'FreeSansBold', sans-serif;
  font-weight: bold;
}

.footer-detail {
  font-size: 1.1rem !important;
}

.footer-text {
  line-height: 100%;
}

.footer-text span {
  font-size: 1.2rem;
  margin-right: 8px;
  transform: translateY(20%);
}